.container-modal {
    position: absolute;
    top: 30vh;
    left: 40vw;
    border: none;
    padding: 0;
    min-height: 200px;
    min-width: 300px;
}

.container-modal[open] {
    scale: 1;
    transition: scale 0.1s ease-in-out;

    @starting-style {
        scale: 0;
    }
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid black;
}

.modal-header p {
    cursor: pointer;
}

.modal-body {
    padding: 10px 20px;
    border-bottom: 1px solid black;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    gap: 16px
}

.modal-buttons button {

}